.container_logo {
    width:100vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /* padding: 40px; */
    /* background-color: #f9f9f9; */
    font-family: 'Segoe UI', sans-serif;
  }
  
  .logo_container{
    display: flex;
    justify-content: center;
    margin-top: 10px;;
    width:96vw
  }
  
  .content_logo {
    width: 65vw;
    /* background-color: white; */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    height:auto;
    margin:auto;
  }
  

  h1 {
    color: #2a2a72;
  }
  
  h3 {
    color: #f94c66;
  }
  
  p {
    font-size: 16px;
    color:burlywood;
  }
  
  ul {
    margin-top: 10px;
  }
  
  li {
    margin-bottom: 10px;
    color:white
    
  }
  
  .content_logo strong{
    color:blue;
  }

  .form-link, .register-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
  }
  
  .register-link {
    background-color: #f94c66;
    margin-left: 10px;
  }

  .image-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:35vw;
    height:auto
  }

  .image-section img{
    width:32vw;
    height:auto;
    margin:auto;
  }


/* Responsive Design */
@media (max-width: 900px) {

  
  .container_logo{
    height:auto;
    width:100vw;
    margin:auto;
    /* margin-top:15px */
  }
  
  .logo_container{
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
  }

  .content_logo{
    width:96vw;
    /* height:40vh; */
  }
  
  .image-section img{
    height:auto;
    width:96vw;
  }

  
  .image-section{
    margin-top:10px;
    display: flex;
    flex-direction: column;
    width:96vw;
  }

  .image-section h1{
    font-size:1rem;
    
  }
}