.tedx-container {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background-color: #fff;
    width:100vw;
  }
  
  .ted-x{
    width:96vw;
    display:flex;
    flex-direction: row;
  }
  .tedx-title {
    color: #003366;
    font-size: 2rem;
  }
  
  .tedx-title span {
    color: #000;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .speaker-list {
    list-style-type: none;
    padding: 0;
  }
  
  .speaker-list li {
    margin: 5px 0;
    font-size: 1rem;
    color:brown
  }
  
  .register-link {
    color: #007bff;
    font-weight: bold;
  }
  
  .image-container img {
    /* width: max-content; */
    height:80vh;
    width:40vw;
    border-radius: 10px;
    margin-top: 20px;
  }

  


/* Responsive Design */
@media (max-width: 900px) {

  
  .tedx-container{
    height:auto;
    width:96vw;
    margin:auto;
    /* margin-top:15px */
  }
  
  .ted-x{
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    width:100vw;
    margin:auto;
    height:auto;
  }

  .ted-right{
    width:92vw;
    /* height:40vh; */
  }
  
  .image_tedx_p{
    width:87vw;
    height:auto;
    margin: auto;;

  }
  .image-container{
    height:auto;
    width:90vw
  }

  
  .image-section{
    margin-top:10px;
    display: flex;
    flex-direction: column;
    /* width:96vw; */
    height: 40vh;
  }

}