.content_hero{
    display:flex;
    justify-content: center;
    text-align:center;
    align-items: center;

}

.Home_container{
    width:100vw;
    height:100vh;
    /* padding-top:150px; */
}

.fig{
    width:30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* position:relative; */
    margin:auto;
    /* left:5%; */

}
.fig h1{
    color:rgb(125, 211, 98);
    font-size:5vmin;
}

.fig p{
    color:rgb(185, 186, 186);
    font-size:3vmin;
}
.box{
    width:70vw;
    height:81vh;
    margin:auto;
}

@media screen and (max-width: 768px) {

    .Home_container{
        width:100vw;
        height:90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:0px;
        margin:auto;
        /* margin-right:0px; */
        /* margi */
        
        
    }

    .home_la{
        width:100vw;
        height:90vh;
        margin:auto;
        
    }
    .content_hero{
        width:100vw;
        height:90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: auto;
    }

    .fig{
        display: flex;
        justify-content: center;
        align-items: center;
        height:30vh;
        width:100vw
    }
    .box{
        height:70vh;
        width:100vw;
    }
}
  