.content_hero{
    display:flex;
    justify-content: center;
    text-align:center;
    align-items: center;

}

.Home_container{
    width:100vw;
    height:100vh;
    /* padding-top:150px; */
}

.fig{
    width:30vw;
    left:10px;

}

.box{
    width:70vw;
    height:81vh;
}