body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  /*background-image: url('https://almashines.s3.dualstack.ap-southeast-1.amazonaws.com/assets/images/cover/456.jpg?r=1'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  margin: 0;
  padding: 0;*/   
  }

  .contact_sec{
    width:100vw;
    height: auto;
    overflow: hidden;
  }

  .Form_cont{
    width:96vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;

  }

  .Contact_form{
    width:96vw;
    height:120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:auto;
    transform: scale(1.35);
  }

  .link_name{
    margin-top:20px;
    /* background-color: #28a745; */
    color:grey;
    background-color: aquamarine;
    display:inline-block;
    padding:5px;
    border-radius: 0px 15px 15px 0px  ; 
    border: 2px solid rgb(4, 28, 20)
  }

  header {
  display:block;
  text-align: center;
  gap:10px;
 justify-content:flex-start;

  flex-direction: column;
  padding: 20px 0;
  /* margin-top: 50px; */

}

.conc{
  margin-left:30px;

  /* width:96%; */
  /* margin:auto; */
}

.logo {
 
  width: 60px; 
  height: auto;
  margin-bottom: 5px; 
}


.link_name{
  margin-left:50px;
}
  
  .container {
    background-color: #ffffff;
    padding: 20px;
    height: 650px;
    width:600px;
    margin:auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h1{
    color: #000;
  }
  h2 {
    text-align: center;
    color: #000;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input, select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  #result {
    margin-top: 20px;
    text-align: center;
    color: green;
  }
/* Responsive Design */
@media screen and (max-width: 1000px) {
      .container {
        width: 100%;
        padding: 10px;
      }

      input, select, button {
        width: 90%;
      }

      header h1 {
        font-size: 1.5em;
      }

  }