/* General Styling for Core Team Section */
.team-cont{
  width:100%;
  background-color: #0f150e;
}

.core-team-section {
    padding: 60px 0;
    background-color: #0f150e;
    width:97%
  }
  
  .core-team-container {
    /* max-width: 1200px; */
    max-width:94%;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #112b2b;
    border-radius:10px
  }
  
  .core-team-heading {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .core-team-title {
    font-size: 36px;
    font-weight: bold;
    color:rgb(253, 137, 4);
    margin-top:10px
  }
  
  .core-team-description {
    font-size: 18px;
    color:#00ffc6;
    margin-top: 10px;
  }
  
  /* Grid Layout for Team Members */
  .core-team-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin:10px
  }
  
  .core-team-member {
    background-color: #edf6f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .core-team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height:auto;
  }
  
  .core-team-image {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .core-team-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .core-team-details {
    text-align: center;
  }
  
  .core-team-name {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .core-team-role {
    font-size: 18px;
    font-weight: normal;
    color: blue;
  }
  
  .core-team-bio {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
  }
  
  .core-team-button {
    display: inline-block;
    background-color: #0073b1;
    color: white;
    padding: 12px 30px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 40px;
    transition: background-color 0.3s ease;
    margin:auto;
    margin-top:20px;
    margin-bottom:10px
  }
  
  .core-team-button:hover {
    background-color: #005a8b;
  }
  
  /* Responsive Design
  @media screen and (max-width: 768px) {
    .core-team-grid {
      grid-template-columns: 1fr;
    }
  
    .core-team-title {
      font-size: 28px;
    }
  
    .core-team-description {
      font-size: 16px;
    }
  
    .core-team-button {
      font-size: 16px;
    }
  }
   */

  /* Responsive Design */
@media (max-width: 900px) {
  .core-team-section{
    height:auto;
    width:90vw;

    margin:auto;
    /* margin-top:15px */
  }
  
  .core-team-grid{
    display: flex;
    flex-direction: column;
  }
  .core-team-card{
    height:auto;
  }
  .event-item{
    display: flex;
    flex-direction: column;
    width:90vw;
    margin:auto;
  }
  
}