*{
    background-color: transparent;
    /* background-color: aqua; */
    /* background-color: #0f150e; */
    z-index:10;
    scrollbar-width: none;          /*This is to remove scroll bar.*/
}
/* Ensure no global styles interfere */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; /* Example font, set default font */
    scroll-behavior: smooth;
}

.navbar, .nav-left, .nav-right, a {
    text-transform: none !important; /* Force no uppercase transformation */
}


@media (max-width: 900px) {
    *{
        scrollbar-width: none;
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
}