/* 

.about {
    height: 100vh;
    width: 100%;
    border: 2px solid pink;
    margin: auto;
    display: flex;
}

.box1 {
    height: 60%;
    width: 35%;
    border: 2px solid grey;
    margin: auto;
}

.box2 {
    height: 60%;
    width: 50%;
    border: 2px solid grey;
    margin: auto;
    display: flex;
    flex-wrap: wrap;  
    gap: 10px; 
}

.card {
    height: 40%;
    width: 45%;  
    margin: auto;
    border: 2px solid grey;
} */


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.blog-section {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0;
    background-color: #0f150e;
}



.blogs_title{
    font-size: 3rem;
    /* color: #7eb8ed; */
    color:rgb(253, 137, 4);
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(126, 184, 237, 0.8);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
  }
  
  .about-heading::before {
    
    font-size: 2.5rem;
  }
  

.blog-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    /* color: #374151; */
}

.blog-grid {
    width:92vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin:auto;
}

.blog-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    transition: transform 0.3s ease-in-out;    background-color: #112b2b;
}

.blog-card img {
    width: 100%;
    height: 50vh;
    border-radius: 10px;
}

.blog-card h3 {
    font-size: 1.5rem;
    margin-top: 15px;    
    color:#00ffc6;
}

.blog-card p {  
    color:#e0f7fa;
    margin: 10px 0;
    font-weight: 700;
}

.read-more {
    text-decoration: none;
    color: #3b82f6;
    font-weight: bold;
}

.blog-card:hover {
    transform: translateY(-10px);
}

.large {
    grid-column: span 2;
}


/* Responsive Design */
@media (max-width: 900px) {
    .blog-section{
      height:auto;
      width:100vw;
  
      margin:auto;
      /* margin-top:15px */
    }
    
    .blog-grid{
      display: flex;
      flex-direction: column;
    }
  
    .blog-card{
      display: flex;
      flex-direction: column;
      width:90vw;
      margin:auto;
    }
    
  }