/* .video-container {
    position: static;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
  } */
  
  .background-video {
    position: absolute;
    opacity:1;
    top: 0;
    left: 0;
    width: 100vw;
    height:110vh;
    object-fit: cover;
    z-index: 1; 
    margin:0px;
    scroll-behavior: smooth;
    width:100vw;
    scrollbar-width: none;
  }

  

  